body {
    width: 1280px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    background: url(/assets/png/noise_transparent@2x.png),radial-gradient( #5B483A, #262425);
}

.logo-title {
    margin-top: 30px;
    margin-left: 40px;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 35.2px;
    letter-spacing: 2px;
    color: #F1CDB3;
}

.logo-subtitle {
    margin-top: 10px;
    margin-left: 44px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 14.95px;
    letter-spacing: 1.3px;
    color: #FFFFFF;
}

.nav {
    margin-top: 46px;
}

.nav-list li:not(:last-child) {
    margin-right: 35px;
}

.nav-list:last-child {
    margin-right: 40px;
}

.nav-list-item {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    cursor: pointer;
}

.nav-list-item:nth-child(1) {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 5px;
}

.not-only {
    display: flex;
    justify-content: space-between;
    background: url(/assets/png/noise_transparent@2x.png),radial-gradient( #5B483A, #262425);
}

.not-only-title {
    width: 310px;
    margin-top: 253px;
    margin-left: 40px;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 57.2px;
    color: #FFFFFF;
}

.not-only-text {
    width: 460px;
    margin-top: 42px;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
}

.btn {
    width: 207px;
    height: 52px;
    margin-top: 42px;
    margin-left: 40px;
    border-radius: 100px;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 1px;
    background-color: #F1CDB3;
    font-family: Georgia, serif;
    color: #292929;
    transition: 1s;
}

.btn:hover {
    background-color: #FDDCC4;
}

.not-only-img {
    width: 698px;
    height: 728px;
    margin-top: 90px;
    margin-right: 40px;
}

/* .header-and-not-only-wrapper {
    background: url(/assets/png/noise_transparent@2x.png),radial-gradient( #5B483A, #262425);
} */

.about {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.about-img {
    width: 300px;
    height: 408px;
    margin-left: 215px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.basic-title {
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2.1px;
    color: #545454;
}

.about-title {
    width: 370px;
    margin-top: 94px;
    margin-right: 275px;
} 

.about-p1 {
    width: 430px;
    margin-top: 25px;
    margin-right: 215px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #4C4C4C;
}

.about-p2 {
    width: 430px;
    margin-top: 25px;
    margin-right: 215px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #4C4C4C;
}

.our-friends {
    background-color: #F6F6F6;
    overflow: auto;
}

.our-friends-title {
    width: 400px;
    margin-top: 80px;
    margin-left: 440px;
    text-align: center;
}

.our-friends-wrapper {
    display: flex;
    
    align-items: center;
    margin-top: 60px;
}

.pet-img {
    width: 270px;
    height: 270px; 
    border-radius: 9px, 9px, 0px, 0px; 
}

.pet-card-content {
    height: 165px;
    width: 270px;
    background-color: #FAFAFA;
    border-radius: 0 0 9px 9px;
    overflow: auto;
}

.pet-katrine {
    margin-left: 53px;
}

.pet-jennifer {
    margin-left: 90px;
}

.pet-woody {
    margin-left: 90px;
    margin-right: 53px;
}

.pet-name {
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 30px;
    line-height: 22.72px;
    letter-spacing: 1.2px;
    text-align: center;
    color: #545454;
}

.pet-card-btn {
    display: block;
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: Georgia, serif;
    margin-top: 30px;
    margin-left: 41.5px;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 1.02px;
    transition: 1s;
    color: #292929;
}

.pet-card-btn:hover {
    background-color: #FDDCC4;
}

.get-to-know-btn {
    display: block;
    width: 261px;
    height: 52px;
    background-color:#F1CDB3;
    border-radius: 100px;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 1.02px;
    color: #292929;
    
}

.left-arrow-btn {
    width: 52px;
    height: 52px;
    margin-left: 40px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    transition: 1s;
}

.right-arrow-btn {
    width: 52px;
    height: 52px;
    margin-right: 40px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    transition: 1s;
}

.get-to-know-btn {
    margin-left: 510px;
    margin-top: 60px;
    margin-bottom: 100px;
    transition: 1s;
}

.get-to-know-btn:hover {
    background-color: #FDDCC4;
}

.arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-btn:hover {
    background-color: #FDDCC4;
}

.help-title {
    width: 310px;
    margin-top: 80px;
    margin-left: 486px;
    text-align: center;
}

.help-icon-first-row {
    text-align: center;
    margin-top: 60px;
}

.help-icon-first-row:not(:first-child) {
    margin-left: 120px;
}

.help-icon-first-row:first-child {
    margin-left: 127px;
}

.help-icon-second-row {
    text-align: center;
    margin-top: 55px;
}

.help-icon-second-row:not(:first-child) {
    margin-left: 120px;
}

.help-icon-second-row:first-child {
    margin-left: 211px;
}

.help-icon-title {
    padding-top: 30px;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.2px;
    color: #545454;
}

.help-icon-first-wrapper {
    display: flex;
}

.help-icon-second-wrapper {
    display: flex;
    margin-bottom: 100px;
}

.in-addiction {
    background-color: #F6F6F6;
    display: flex;
}

.in-addiction-img {
    margin-top: 91px;
    margin-left: 183px;
    margin-right: 30px;
}

.donation-title {
    width: 300px;
    margin-top: 80px;
}

.bank-info {
    margin-top: 20px;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 16.5px;
    letter-spacing: 0.9px;
    color: #545454;
}

.card {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 349px;
    height: 43px;
    background-color: #F1CDB3;
    border-radius: 9px;
    transition: 1s;
}

.card:hover {
    cursor: pointer;
    background-color: #FDDCC4;
}

.card-icon {
    width: 30px;
    height: 23px;
    margin-left: 15px;
}

.card-number {
    margin-left: 15px;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.2px;
    color: #545454;
}

.donation-description {
    margin-top: 20px;
    margin-bottom: 100px;
    width: 380px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

.footer {
    display: flex;
    background: url(/assets/png/noise_transparent@2x.png),radial-gradient( #5B483A, #262425);
}

.contacts {
    margin-left: 40px;
    margin-top: 56px;
}

.address {
    margin-left: 160px;
    margin-top: 56px;
}

.footer-contacts-title {
    width: 279px;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2.1px;
    color: #FFFFFF;
}

.footer-address-title {
    width: 270px;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2.1px;
    color: #FFFFFF;
}

.footer-email {
    margin-top: 40px;
    margin-left: 20px;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.2px;
    color: #F1CDB3;
}

.email-wrapper {
    display: flex;
    align-items: center;
}

.email-icon {
    margin-top: 40px;
}

a[href^="mailto:"] {
    color: #F1CDB3;
}

.footer-phone-number {
    margin-top: 40px;
    margin-left: 20px;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.2px;
    color: #F1CDB3;
}

.phone-number-wrapper {
    display: flex;
    align-items: center;
}

.phone-number-icon {
    margin-top: 39px;
}

a[href^="tel:"] {
    color: #F1CDB3;
  }

.footer-first-address {
    width: 302px;
    margin-top: 31px;
    margin-left: 20px;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.2px;
    color: #F1CDB3;
}

.first-address-wrapper {
    display: flex;
    align-items: center;
}

.first-address-icon {
    margin-top: 29px;
}


.footer-second-address {
    margin-top: 40px;
    margin-left: 20px;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.2px;
    color: #F1CDB3;
}

.second-address-wrapper {
    display: flex;
    align-items: center;
}

.second-address-icon{
    margin-top: 31px;
}

.footer-img {
    margin-left: 120px;
    margin-top: 40px;
}





